<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact me</title>
</head>
<body>
    <h2>Send me a message</h2>
    <form action="/success" method="post">
        <label>Username:
            <input type="text" name="username">
        </label><br><br>
        <label>
            Email:
            <input type="email" name="email">
        </label><br><br>
        <label>
            Message<br>
            <textarea name="message" cols="30" rows="10"></textarea>
        </label><br>
        <div>
            <input type="submit" value="send">
        </div>
    </form>
</body>
</html>