<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <div class="container" style="background:white;padding:10px">
    <nav>
        <h1>All Blogs</h1>
        <a href="/">Back</a>
    </nav>
    <% posts.forEach(post=>{ %>
<div class="posts">
    <h2>Title: <span class="noBold"><%=post.title %></span>  </h2>
    <h3>Author: <span class="noBold"><%=post.name %></span> </h3>
    <p><%= post.body %></p>
</div>
<%
    }) %>
    </div>
</body>
</html>