<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <div class="container">
        <h1 style="color:chocolate">DEBS BLOG!</h1>
        <p>Welcome to my blogging site</p>
        <a href="/blogs">View Blogs</a>
        <form action="/success" method="post">
            <label for="username">Blog Author</label>
            <input type="text" id="username" name="username"><br>
            <label for="title">Title of post</label>
            <input type="text" id="title" name="title"><br>
            <label for="body">Body of Post</label>
            <textarea name="body" id="body"></textarea><br>
            <input type="submit">

        </form>
    </div>
</body>
</html>